body{
  margin:0;
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

h1{
  margin:0;
  margin-bottom: 1rem;
}

.input{
  border:1px solid grey;
  border-radius: .5em;
  padding: .3rem;
  width:10em ;
  
}
select{
  margin-left: 1rem;
}