body{
  margin:0;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

h1{
  margin:0;
  margin-bottom: 1rem;
  color:black;
}

.content{
  display:flex;
  flex-direction: column;
  flex-flow: column;
  align-content: center;
  text-align: center;
  color: white;
  margin:0;
}

.datesection{
  display: flex;
  flex-direction: column;
  align-items: center;
  height:3rem;
  background-color: rgb(161, 159, 159);
  border: .1rem solid darkgray;
  text-align: center;
  margin-bottom: 1rem;
  
}

.currency-section{
  height:5rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(161, 40, 40);
  margin-bottom:0.5rem;
  align-items: center;
  justify-content: space-between;
  padding:.5rem;
}

.input{
  border:1px solid grey;
  border-radius: .5em;
  padding: .3rem;
  width:10em ;

}
select{
  margin-left: 1rem;
}